/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* Contenedor de la escena 3D */
#scene-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilo del lobby */
#lobby-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #333;
}

#lobby-container h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

#lobby-container button {
    font-size: 18px;
    padding: 12px 24px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#lobby-container button:hover {
    background-color: #45a049;
}

/* Estilo del cuestionario */
#quiz-container {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translateX(-50%);
    text-align: center;
    display: none;
    max-height: 90vh;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
}

#quiz-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#quiz-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#quiz-container label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

#quiz-container input {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#quiz-container input[type="number"] {
    width: 60px;
}

#quiz-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#quiz-container button:hover {
    background-color: #45a049;
}

/* Estilo del canvas */
#canvas {
    display: block;
    margin: 0 auto;
}
